<div class="container">
     
  <div class="row">
      <div class="col-lg-5 grayBoxArea">
          Description will go here





      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 grayBoxArea">
         Description will go here

      </div>
  </div>
  <br>
   <div class="row">
      <div class="col-lg-5 grayBoxArea">
          Semantic Score will go here





      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 grayBoxArea">
          Semantic Score will go here

      </div>
  </div>
  <br>
        
</div>