<div class="comparePage">

  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Search 1</div>
      <div class="panel-body">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Grade</div>
      <div class="panel-body">
        <span>
        <canvas class="col-md-12" id="first_pie_canvas"></canvas>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Most Frequent Words</div>
      <div class="panel-body">
        <canvas class="col-md-12" id="first_bar_canvas"></canvas>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Word Cloud</div>
      <div class="panel-body">
        <canvas id="first_cloud_canvas" class="wordcloud col-md-12"></canvas>
      </div>
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Search 2</div>
      <div class="panel-body">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Grade</div>
      <div class="panel-body">
        <span>
        <canvas class="col-md-12" id="second_pie_canvas"></canvas>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Most Frequent Words</div>
      <div class="panel-body">
        <canvas class="col-md-12" id="second_bar_canvas"></canvas>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Word Cloud</div>
      <div class="panel-body">
        <canvas id="second_cloud_canvas" class="wordcloud col-md-12"></canvas>
      </div>
    </div>
  </div>
  
</div>