<nav class="navbar navbar-inverse navbar-fixed-top white">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">  
          <img src="../images/primaryNavigationGMLogo.png" 
               style="margin-top:-10px;" alt="General Motors">
      </a>
    </div>
      <div  class="paddingTop alignRight">
        <a  ui-sref="user.profile" ng-show="isAdminState()">Switch View</a>
        <a  ui-sref="admin.manageUsers" ng-show="!isAdminState()">Switch View</a>
          | Welcome, Admin | <a href="">Logout</a>
      </div>
  </div>
</nav>
