<nav class="navbar navbar-inverse navbar-fixed-top white">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">  
          <img src="../images/primaryNavigationGMLogo.png" 
               style="margin-top:-10px;" alt="General Motors">
      </a>
    </div>
      <div  class="paddingTop alignRight">
      <span id="switchView">
        <a ui-sref="user.profile" ng-show="isAdminState()">Switch View</a>
        <a ui-sref="admin.manageUsers" ng-show="!isAdminState()">Switch View</a>
         | 
      </span>
          Welcome, <span id="ufname"></span> | <a onclick="logout()">Logout</a>
      </div>
  </div>
</nav>
