<script src="../js/analyticsController.js" defer></script>
<div class="container">
    <div class="row">
        
        <div class="col-lg-1"></div>
        <div id="failure" 
             class="alert alert-danger" 
             role="alert"
             style="display:none;">
            <span class="glyphicon glyphicon-exclamation-sign" 
                aria-hidden="true">
            </span>
             <span class="sr-only">Success:</span>
             <span id="failure-message"></span>
        </div>
        <div class="col-lg-5 grayBoxArea">
            <h3>Explicit Content</h3>
            <form id="explicitForm"
                  class="form-inline" >
                <br>
                <input rows="4" cols="170" 
                    class="form-control"
                    placeholder="Enter explicit content you wish to be filtered in displays..."
                    name="explicitWordsArea"
                    id="explicitWordsArea"
                    style="width:372px"
                    value=""></input>
                <div class="form-group formPadding">
                    <button type="submit"  id="submitExplicitForm"
                            class="btn btn-primary">Add Word</button>
                </div>
            </form>
            <p>Note: Enter 1 word/set of words at a time</p>
            <div class="col-md-6 ">
            </div>
            <br>
        </div>
        <div class="col-lg-5 grayBoxArea">
            <h3>Existing Words</h3>
            <form id="removeForm"></form>
        </div>
    </div>
    
    
</div>

    <script src="scripts/updateExplicit.js"></script>