<div class="queryPage">

  <div class="col-md-3 query-form">
    <div class="panel panel-default">
      <div class="panel-heading">Query Parameters</div>
      <div class="panel-body">
        <form id="queryForm" ng-controller="QueryCtrl">
          <!-- Locations dropdown -->
          <div class="form-group">
            <label for="selectLocation">Location</label>

            <select id="selectLocation" class="form-control" ng-model="selectLocation">
                <option ng-repeat="location in locations" value="{{location}}">{{location}}</option>
              </select>
          </div>
          <!-- startDate datepicker -->
          <div class="form-group">
            <label for="selectStart">From</label>
            <div class="input-group" id="selectStart">
              <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="startOpened"
                     min-date="'{{aMonthAgo}}'" max-date="'{{today}}'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                     ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <!-- endDate datepicker -->
          <div class="form-group">
            <label for="selectEnd">to</label>
            <div class="input-group" id="selectEnd">
              <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="endOpened"
                     min-date="startDate" max-date="'{{today}}'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                     ng-required="true" close-text="Close" />
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
              </div>
            </div>
          </div>
          <!-- makes dropdown -->
          <div class="form-group nullable">
            <label for="selectMake">Make </label>
            <!--<select id="selectMake" ng-change="changeMake()" ng-model="selectMake" ng-options="make.makeName for make in makes" class="form-control"></select>-->
            <select ng-change="changeMake()" id="selectMake" class="form-control" ng-model="selectMake">
              <option value='All Makes'>All Makes</option>
              <option ng-repeat="make in makes" value={{make.makeId}}>{{make.makeName}}</option>
            </select>
          </div>
          <!-- models dropdown -->
          <div class="form-group nullable">
            <label for="selectModel">Model </label>
            <!--<select id="selectModel" ng-change="changeModel()" ng-model="selectModel" class="form-control" ng-options="model.modelName for model in models | filter:{makeId:selectMake.makeId}" disabled="true"></select>-->
            <select id="selectModel" ng-change="changeModel()" class="form-control" ng-model="selectModel" disabled="true">
              <option value='All Models'>All Models</option>
              <option ng-repeat="model in models | filter:{makeId:selectMake}" value={{model.modelId}}>{{model.modelName}}</option>
            </select>
          </div>
          <!-- years dropdown -->
          <div class="form-group nullable">
            <label for="selectYear">Year </label>
            <!--<select id="selectYear" ng-model="selectYear" class="form-control" ng-options="year.yearName for year in years | filter:{modelId:selectModel.modelId}" disabled="true"></select>-->
            <select id="selectYear" class="form-control" ng-model="selectYear" disabled="true">
              <option value='All Years'>All Years</option>
              <option ng-repeat="year in years | filter:{modelId:selectModel}" value={{year.yearId}}>{{year.yearName}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="queryPost()">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Grade</div>
      <div class="panel-body">
        <div  class="col-md-5">
          <img id="Grade" ng-src="../images/{{grade}}" class="img-responsive"/>
        </div>
        <div class="col-md-6">
          <canvas id="pieGraph_canvas" width="275"></canvas>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Most Frequent Words</div>
      <div class="panel-body">
        <canvas class="col-md-12" id="barGraph_canvas"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Save Searches</div>
      <div class="panel-body">
        <!-- Compare should be saved locally, as cookie -->
        <form id="saveForm" ng-controller="QueryCtrl" ng-submit="saveQuery()">
          <div class="form-inline form-group">
            <input ng-model="searchName" class="form-control" type="text" placeholder="Save As...">
            <button type="button" class="btn btn-primary" ng-click="saveQuery()">Save</button>
            <span id="savedMessage" class="hidden">Query saved successfully</span>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Word Cloud</div>
      <div class="panel-body">
        <canvas id="wordCloud_canvas" class="wordcloud col-md-12"></canvas>
      </div>
    </div>
  </div>

</div>
