<div class="queryPage">

  <div class="col-md-3 query-form">
    <div class="panel panel-default">
      <div class="panel-heading">#generalmotors</div>
      <div class="panel-body">
        <form id="queryForm" ng-controller="QueryCtrl">
          <!-- Locations dropdown -->
          <div class="form-group">
            <label for="selectLocation">Location</label>

            <select id="selectLocation" class="form-control" ng-model="selectLocation">
                <option ng-repeat="location in locations" value="{{location}}">{{location}}</option>
              </select>
          </div>
          <!-- startDate datepicker -->
          <div class="form-group">
            <label for="selectStart">From</label>
            <div class="input-group" id="selectStart">
              <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="startOpened" 
                     min-date="'{{aMonthAgo}}'" max-date="'{{today}}'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
                     ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <!-- endDate datepicker -->
          <div class="form-group">
            <label for="selectEnd">to</label>
            <div class="input-group" id="selectEnd">
              <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="endOpened" 
                     min-date="startDate" max-date="'{{today}}'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
                     ng-required="true" close-text="Close" />
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
              </div>
            </div>
          </div>
          <!-- makes dropdown -->
          <div class="form-group nullable">
            <label for="selectMake">Make</label>
            <select id="selectMake" class="form-control" ng-model="selectMake" ng-options="make.makeName for make in makes">
              <option value="All Makes">All Makes</option> 
            </select>
          </div>
          <!-- models dropdown -->
          <div class="form-group nullable">
            <label for="selectModel">Model</label>
            <select id="selectModel" class="form-control" ng-model="selectModel" ng-options="model.modelName for model in models | filter:{makeId:selectMake.makeId}">
              <option value="All Models">All Models</option> 
            </select>
          </div>
          <!-- years dropdown -->
          <div class="form-group nullable">
            <label for="selectYear">Year</label>
            <select id="selectYear" class="form-control" ng-model="selectYear" ng-options="year.yearName for year in years | filter:{modelId:selectModel.modelId}">
              <option value="All Years">All Years</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary btn-lg" ng-click="queryPost()">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Grade</div>
      <div class="panel-body">
        <div class="col-md-6">
          <img src="../../images/grade.png" class="img-responsive" alt="Responsive image"/>
        </div>
        <div class="col-md-6">
          <canvas class="col-md-12" id="pieGraph_canvas"></canvas>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Most Frequent Words</div>
      <div class="panel-body">
        <canvas class="col-md-12" id="barGraph_canvas"></canvas>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Compare & Save</div>
      <div class="panel-body">
        <!-- Compare should be saved locally, as cookie -->
        <form>
          <div class="form-inline form-group">
            <input class="form-control" type="text" placeholder="Perform a search and click 'Add to Compare'" readonly>
            <button type="button" class="btn btn-primary">Add to Compare</button>
          </div>
          <div class="form-inline form-group">
            <input class="form-control" type="text" placeholder="Perform a search and click 'Add to Compare'" readonly>
            <button type="button" class="btn btn-primary">Add to Compare</button>
          </div>
          <div class="form-inline form-group">
            <input class="form-control" type="text" placeholder="Save As...">
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Word Cloud</div>
      <div class="panel-body">
        <canvas id="wordCloud_canvas" class="wordcloud col-md-12"></canvas>
      </div>
    </div>
  </div>

</div>