<gm-header></gm-header>
<div class="secondNavBar">
    <div class="row">
      <div class="col-md-8"><h1>SocialGM</h1></div>
        <div class="col-md-4"> 
            <ul class="nav nav-pills pillMarigin">
                <li role="presentation">
                  <a ui-sref="user.query">Query</a>
                </li>
                <li role="presentation">
                  <a ui-sref="user.compare">Compare</a>
                </li>
                <li role="presentation">
                  <a ui-sref="user.profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>  
</div>
<div class="mainContent" ui-view></div>