<div class="container">

    <div class="row">
        <div class="col-lg-5 grayBoxArea">
            <h3>Pending Requests</h3>
            <div class="table-responsive">
                 <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="puser in pusers">
                            <td>{{puser.firstName}} {{puser.lastName}}</td>
                            <td>{{puser.email}}</td>
                            <td>{{puser.position}}</td>
                            <td>{{puser.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-success">Grant Access
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 grayBoxArea">
            <h3>Existing Users</h3>
               <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                            <td>{{user.admin}}</td>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-success">Make Admin
                </button>
                <button type="button" class="btn btn-danger">Remove Access
                </button>
            </div>
        </div>
    </div>


</div>